.snowflake {
    --size: 1vw;
    width: var(--size);
    height: var(--size);
    position: absolute;
    z-index: 9999;
    top: -5vh
}

@-webkit-keyframes snowfall {
    0% {
        transform: translate3d(var(--left-ini), 0, 0)
    }
    to {
        transform: translate3d(var(--left-end), 110vh, 0)
    }
}

@keyframes snowfall {
    0% {
        transform: translate3d(var(--left-ini), 0, 0)
    }
    to {
        transform: translate3d(var(--left-end), 110vh, 0)
    }
}

.snowflake:first-child {
    --size: 2vw;
    --left-ini: -1vw;
    --left-end: 10vw;
    left: 21vw;
    -webkit-animation: snowfall 7s linear infinite;
    animation: snowfall 7s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s
}

.snowflake:nth-child(2) {
    --size: 2vw;
    --left-ini: -4vw;
    --left-end: 4vw;
    left: 1vw;
    -webkit-animation: snowfall 8s linear infinite;
    animation: snowfall 8s linear infinite;
    -webkit-animation-delay: -7s;
    animation-delay: -7s
}

.snowflake:nth-child(3) {
    --size: 6vw;
    --left-ini: -8vw;
    --left-end: -7vw;
    left: 8vw;
    -webkit-animation: snowfall 7s linear infinite;
    animation: snowfall 7s linear infinite;
    -webkit-animation-delay: -8s;
    animation-delay: -8s
}

.snowflake:nth-child(4) {
    --size: 2vw;
    --left-ini: 3vw;
    --left-end: -3vw;
    left: 100vw;
    -webkit-animation: snowfall 9s linear infinite;
    animation: snowfall 9s linear infinite;
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

.snowflake:nth-child(5) {
    --size: 6vw;
    --left-ini: -9vw;
    --left-end: 0vw;
    left: 34vw;
    -webkit-animation: snowfall 14s linear infinite;
    animation: snowfall 14s linear infinite;
    -webkit-animation-delay: -9s;
    animation-delay: -9s
}

.snowflake:nth-child(6) {
    --size: 5vw;
    --left-ini: -5vw;
    --left-end: -5vw;
    left: 16vw;
    -webkit-animation: snowfall 6s linear infinite;
    animation: snowfall 6s linear infinite;
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

.snowflake:nth-child(7) {
    --size: 2vw;
    --left-ini: -5vw;
    --left-end: 7vw;
    left: 8vw;
    -webkit-animation: snowfall 14s linear infinite;
    animation: snowfall 14s linear infinite;
    -webkit-animation-delay: -8s;
    animation-delay: -8s
}

.snowflake:nth-child(8) {
    --size: 6vw;
    --left-ini: -7vw;
    --left-end: 1vw;
    left: 20vw;
    -webkit-animation: snowfall 11s linear infinite;
    animation: snowfall 11s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s
}

.snowflake:nth-child(9) {
    --size: 3vw;
    --left-ini: 10vw;
    --left-end: 3vw;
    left: 25vw;
    -webkit-animation: snowfall 10s linear infinite;
    animation: snowfall 10s linear infinite;
    -webkit-animation-delay: -9s;
    animation-delay: -9s
}

.snowflake:nth-child(10) {
    --size: 3vw;
    --left-ini: 1vw;
    --left-end: 6vw;
    left: 47vw;
    -webkit-animation: snowfall 11s linear infinite;
    animation: snowfall 11s linear infinite;
    -webkit-animation-delay: -6s;
    animation-delay: -6s
}

.snowflake:nth-child(11) {
    --size: 2vw;
    --left-ini: -9vw;
    --left-end: -4vw;
    left: 23vw;
    -webkit-animation: snowfall 13s linear infinite;
    animation: snowfall 13s linear infinite;
    -webkit-animation-delay: -4s;
    animation-delay: -4s
}

.snowflake:nth-child(12) {
    --size: 3vw;
    --left-ini: 10vw;
    --left-end: -9vw;
    left: 78vw;
    -webkit-animation: snowfall 8s linear infinite;
    animation: snowfall 8s linear infinite;
    -webkit-animation-delay: -10s;
    animation-delay: -10s
}

.snowflake:nth-child(13) {
    --size: 5vw;
    --left-ini: 1vw;
    --left-end: 4vw;
    left: 56vw;
    -webkit-animation: snowfall 8s linear infinite;
    animation: snowfall 8s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s
}

.snowflake:nth-child(14) {
    --size: 6vw;
    --left-ini: -6vw;
    --left-end: 4vw;
    left: 7vw;
    -webkit-animation: snowfall 9s linear infinite;
    animation: snowfall 9s linear infinite;
    -webkit-animation-delay: -5s;
    animation-delay: -5s
}

.snowflake:nth-child(15) {
    --size: 2vw;
    --left-ini: 8vw;
    --left-end: -4vw;
    left: 100vw;
    -webkit-animation: snowfall 14s linear infinite;
    animation: snowfall 14s linear infinite;
    -webkit-animation-delay: -3s;
    animation-delay: -3s
}

.snowflake:nth-child(16) {
    --size: 3vw;
    --left-ini: 7vw;
    --left-end: 10vw;
    left: 32vw;
    -webkit-animation: snowfall 9s linear infinite;
    animation: snowfall 9s linear infinite;
    -webkit-animation-delay: -6s;
    animation-delay: -6s
}

.snowflake:nth-child(17) {
    --size: 3vw;
    --left-ini: 3vw;
    --left-end: 0vw;
    left: 81vw;
    -webkit-animation: snowfall 12s linear infinite;
    animation: snowfall 12s linear infinite;
    -webkit-animation-delay: -6s;
    animation-delay: -6s
}

.snowflake:nth-child(18) {
    --size: 2vw;
    --left-ini: -5vw;
    --left-end: 9vw;
    left: 36vw;
    -webkit-animation: snowfall 10s linear infinite;
    animation: snowfall 10s linear infinite;
    -webkit-animation-delay: -7s;
    animation-delay: -7s
}

.snowflake:nth-child(19) {
    --size: 2vw;
    --left-ini: -1vw;
    --left-end: 6vw;
    left: 61vw;
    -webkit-animation: snowfall 8s linear infinite;
    animation: snowfall 8s linear infinite;
    -webkit-animation-delay: -8s;
    animation-delay: -8s
}

.snowflake:nth-child(20) {
    --size: 2vw;
    --left-ini: -4vw;
    --left-end: -7vw;
    left: 72vw;
    -webkit-animation: snowfall 14s linear infinite;
    animation: snowfall 14s linear infinite;
    -webkit-animation-delay: -3s;
    animation-delay: -3s
}

.snowflake:nth-child(21) {
    --size: 2vw;
    --left-ini: 2vw;
    --left-end: -6vw;
    left: 100vw;
    -webkit-animation: snowfall 11s linear infinite;
    animation: snowfall 11s linear infinite;
    -webkit-animation-delay: -6s;
    animation-delay: -6s
}

.snowflake:nth-child(22) {
    --size: 2vw;
    --left-ini: 2vw;
    --left-end: 6vw;
    left: 25vw;
    -webkit-animation: snowfall 10s linear infinite;
    animation: snowfall 10s linear infinite;
    -webkit-animation-delay: -6s;
    animation-delay: -6s
}

.snowflake:nth-child(23) {
    --size: 2vw;
    --left-ini: -1vw;
    --left-end: 1vw;
    left: 22vw;
    -webkit-animation: snowfall 6s linear infinite;
    animation: snowfall 6s linear infinite;
    -webkit-animation-delay: -8s;
    animation-delay: -8s
}

.snowflake:nth-child(24) {
    --size: 5vw;
    --left-ini: -1vw;
    --left-end: -8vw;
    left: 67vw;
    -webkit-animation: snowfall 15s linear infinite;
    animation: snowfall 15s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s
}

.snowflake:nth-child(25) {
    --size: 2vw;
    --left-ini: -3vw;
    --left-end: 8vw;
    left: 42vw;
    -webkit-animation: snowfall 6s linear infinite;
    animation: snowfall 6s linear infinite;
    -webkit-animation-delay: -6s;
    animation-delay: -6s
}

.snowflake:nth-child(26) {
    --size: 2vw;
    --left-ini: 3vw;
    --left-end: -1vw;
    left: 12vw;
    -webkit-animation: snowfall 13s linear infinite;
    animation: snowfall 13s linear infinite;
    -webkit-animation-delay: -6s;
    animation-delay: -6s
}

.snowflake:nth-child(27) {
    --size: 5vw;
    --left-ini: 9vw;
    --left-end: -9vw;
    left: 100vw;
    -webkit-animation: snowfall 11s linear infinite;
    animation: snowfall 11s linear infinite;
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

.snowflake:nth-child(28) {
    --size: 2vw;
    --left-ini: 0vw;
    --left-end: -6vw;
    left: 46vw;
    -webkit-animation: snowfall 9s linear infinite;
    animation: snowfall 9s linear infinite;
    -webkit-animation-delay: -8s;
    animation-delay: -8s
}

.snowflake:nth-child(29) {
    --size: 2vw;
    --left-ini: -7vw;
    --left-end: 6vw;
    left: 92vw;
    -webkit-animation: snowfall 13s linear infinite;
    animation: snowfall 13s linear infinite;
    -webkit-animation-delay: -8s;
    animation-delay: -8s
}

.snowflake:nth-child(30) {
    --size: 2vw;
    --left-ini: -5vw;
    --left-end: 1vw;
    left: 17vw;
    -webkit-animation: snowfall 11s linear infinite;
    animation: snowfall 11s linear infinite;
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

.snowflake:nth-child(31) {
    --size: 6vw;
    --left-ini: -2vw;
    --left-end: 7vw;
    left: 97vw;
    -webkit-animation: snowfall 9s linear infinite;
    animation: snowfall 9s linear infinite;
    -webkit-animation-delay: -9s;
    animation-delay: -9s
}

.snowflake:nth-child(32) {
    --size: 3vw;
    --left-ini: -5vw;
    --left-end: 8vw;
    left: 60vw;
    -webkit-animation: snowfall 9s linear infinite;
    animation: snowfall 9s linear infinite;
    -webkit-animation-delay: -5s;
    animation-delay: -5s
}

.snowflake:nth-child(33) {
    --size: 5vw;
    --left-ini: -8vw;
    --left-end: 8vw;
    left: 77vw;
    -webkit-animation: snowfall 9s linear infinite;
    animation: snowfall 9s linear infinite;
    -webkit-animation-delay: -9s;
    animation-delay: -9s
}

.snowflake:nth-child(34) {
    --size: 2vw;
    --left-ini: -2vw;
    --left-end: 9vw;
    left: 73vw;
    -webkit-animation: snowfall 14s linear infinite;
    animation: snowfall 14s linear infinite;
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

.snowflake:nth-child(35) {
    --size: 5vw;
    --left-ini: 3vw;
    --left-end: -8vw;
    left: 40vw;
    -webkit-animation: snowfall 12s linear infinite;
    animation: snowfall 12s linear infinite;
    -webkit-animation-delay: -5s;
    animation-delay: -5s
}

.snowflake:nth-child(36) {
    --size: 1vw;
    --left-ini: 5vw;
    --left-end: 5vw;
    left: 8vw;
    -webkit-animation: snowfall 11s linear infinite;
    animation: snowfall 11s linear infinite;
    -webkit-animation-delay: -4s;
    animation-delay: -4s
}

.snowflake:nth-child(37) {
    --size: 6vw;
    --left-ini: 2vw;
    --left-end: -4vw;
    left: 44vw;
    -webkit-animation: snowfall 11s linear infinite;
    animation: snowfall 11s linear infinite;
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

.snowflake:nth-child(38) {
    --size: 6vw;
    --left-ini: -7vw;
    --left-end: 6vw;
    left: 20vw;
    -webkit-animation: snowfall 9s linear infinite;
    animation: snowfall 9s linear infinite;
    -webkit-animation-delay: -10s;
    animation-delay: -10s
}

.snowflake:nth-child(39) {
    --size: 5vw;
    --left-ini: 7vw;
    --left-end: 10vw;
    left: 98vw;
    -webkit-animation: snowfall 11s linear infinite;
    animation: snowfall 11s linear infinite;
    -webkit-animation-delay: -7s;
    animation-delay: -7s
}

.snowflake:nth-child(40) {
    --size: 1vw;
    --left-ini: -7vw;
    --left-end: 1vw;
    left: 71vw;
    -webkit-animation: snowfall 14s linear infinite;
    animation: snowfall 14s linear infinite;
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

.snowflake:nth-child(41) {
    --size: 2vw;
    --left-ini: -2vw;
    --left-end: -7vw;
    left: 42vw;
    -webkit-animation: snowfall 12s linear infinite;
    animation: snowfall 12s linear infinite;
    -webkit-animation-delay: -9s;
    animation-delay: -9s
}

.snowflake:nth-child(42) {
    --size: 3vw;
    --left-ini: 10vw;
    --left-end: -8vw;
    left: 79vw;
    -webkit-animation: snowfall 14s linear infinite;
    animation: snowfall 14s linear infinite;
    -webkit-animation-delay: -10s;
    animation-delay: -10s
}

.snowflake:nth-child(43) {
    --size: 2vw;
    --left-ini: -8vw;
    --left-end: 10vw;
    left: 60vw;
    -webkit-animation: snowfall 10s linear infinite;
    animation: snowfall 10s linear infinite;
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

.snowflake:nth-child(44) {
    --size: 2vw;
    --left-ini: -9vw;
    --left-end: 8vw;
    left: 37vw;
    -webkit-animation: snowfall 15s linear infinite;
    animation: snowfall 15s linear infinite;
    -webkit-animation-delay: -6s;
    animation-delay: -6s
}

.snowflake:nth-child(45) {
    --size: 2vw;
    --left-ini: 4vw;
    --left-end: 7vw;
    left: 60vw;
    -webkit-animation: snowfall 7s linear infinite;
    animation: snowfall 7s linear infinite;
    -webkit-animation-delay: -8s;
    animation-delay: -8s
}

.snowflake:nth-child(46) {
    --size: 3vw;
    --left-ini: 2vw;
    --left-end: 3vw;
    left: 38vw;
    -webkit-animation: snowfall 7s linear infinite;
    animation: snowfall 7s linear infinite;
    -webkit-animation-delay: -10s;
    animation-delay: -10s
}

.snowflake:nth-child(47) {
    --size: 6vw;
    --left-ini: 1vw;
    --left-end: 10vw;
    left: 3vw;
    -webkit-animation: snowfall 8s linear infinite;
    animation: snowfall 8s linear infinite;
    -webkit-animation-delay: -8s;
    animation-delay: -8s
}

.snowflake:nth-child(48) {
    --size: 2vw;
    --left-ini: 0vw;
    --left-end: 0vw;
    left: 86vw;
    -webkit-animation: snowfall 10s linear infinite;
    animation: snowfall 10s linear infinite;
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

.snowflake:nth-child(49) {
    --size: 2vw;
    --left-ini: -7vw;
    --left-end: 5vw;
    left: 93vw;
    -webkit-animation: snowfall 14s linear infinite;
    animation: snowfall 14s linear infinite;
    -webkit-animation-delay: -7s;
    animation-delay: -7s
}

.snowflake:nth-child(50) {
    --size: 3vw;
    --left-ini: 2vw;
    --left-end: -6vw;
    left: 84vw;
    -webkit-animation: snowfall 9s linear infinite;
    animation: snowfall 9s linear infinite;
    -webkit-animation-delay: -8s;
    animation-delay: -8s
}

.snowflake:nth-child(51) {
    --size: 5vw;
    --left-ini: 0vw;
    --left-end: 3vw;
    left: 62vw;
    -webkit-animation: snowfall 14s linear infinite;
    animation: snowfall 14s linear infinite;
    -webkit-animation-delay: -3s;
    animation-delay: -3s
}

.snowflake:nth-child(52) {
    --size: 6vw;
    --left-ini: -7vw;
    --left-end: -2vw;
    left: 36vw;
    -webkit-animation: snowfall 9s linear infinite;
    animation: snowfall 9s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s
}

.snowflake:nth-child(53) {
    --size: 2vw;
    --left-ini: 10vw;
    --left-end: 2vw;
    left: 25vw;
    -webkit-animation: snowfall 6s linear infinite;
    animation: snowfall 6s linear infinite;
    -webkit-animation-delay: -10s;
    animation-delay: -10s
}

.snowflake:nth-child(54) {
    --size: 3vw;
    --left-ini: -2vw;
    --left-end: 7vw;
    left: 14vw;
    -webkit-animation: snowfall 10s linear infinite;
    animation: snowfall 10s linear infinite;
    -webkit-animation-delay: -5s;
    animation-delay: -5s
}

.snowflake:nth-child(55) {
    --size: 2vw;
    --left-ini: 0vw;
    --left-end: 6vw;
    left: 30vw;
    -webkit-animation: snowfall 7s linear infinite;
    animation: snowfall 7s linear infinite;
    -webkit-animation-delay: -8s;
    animation-delay: -8s
}

.snowflake:nth-child(56) {
    --size: 5vw;
    --left-ini: 5vw;
    --left-end: 5vw;
    left: 66vw;
    -webkit-animation: snowfall 14s linear infinite;
    animation: snowfall 14s linear infinite;
    -webkit-animation-delay: -8s;
    animation-delay: -8s
}

.snowflake:nth-child(57) {
    --size: 5vw;
    --left-ini: 2vw;
    --left-end: -1vw;
    left: 8vw;
    -webkit-animation: snowfall 13s linear infinite;
    animation: snowfall 13s linear infinite;
    -webkit-animation-delay: -9s;
    animation-delay: -9s
}

.snowflake:nth-child(58) {
    --size: 5vw;
    --left-ini: 8vw;
    --left-end: 4vw;
    left: 70vw;
    -webkit-animation: snowfall 11s linear infinite;
    animation: snowfall 11s linear infinite;
    -webkit-animation-delay: -3s;
    animation-delay: -3s
}

.snowflake:nth-child(59) {
    --size: 6vw;
    --left-ini: 8vw;
    --left-end: 9vw;
    left: 9vw;
    -webkit-animation: snowfall 11s linear infinite;
    animation: snowfall 11s linear infinite;
    -webkit-animation-delay: -5s;
    animation-delay: -5s
}

.snowflake:nth-child(60) {
    --size: 1vw;
    --left-ini: 5vw;
    --left-end: -4vw;
    left: 90vw;
    -webkit-animation: snowfall 12s linear infinite;
    animation: snowfall 12s linear infinite;
    -webkit-animation-delay: -5s;
    animation-delay: -5s
}

.snowflake:nth-child(61) {
    --size: 3vw;
    --left-ini: 8vw;
    --left-end: -6vw;
    left: 4vw;
    -webkit-animation: snowfall 9s linear infinite;
    animation: snowfall 9s linear infinite;
    -webkit-animation-delay: -3s;
    animation-delay: -3s
}

.snowflake:nth-child(62) {
    --size: 2vw;
    --left-ini: -7vw;
    --left-end: 0vw;
    left: 76vw
}

.snowflake:nth-child(62), .snowflake:nth-child(63) {
    -webkit-animation: snowfall 15s linear infinite;
    animation: snowfall 15s linear infinite;
    -webkit-animation-delay: -10s;
    animation-delay: -10s
}

.snowflake:nth-child(63) {
    --size: 6vw;
    --left-ini: 9vw;
    --left-end: 3vw;
    left: 24vw
}

.snowflake:nth-child(64) {
    --size: 6vw;
    --left-ini: 7vw;
    --left-end: 2vw;
    left: 12vw;
    -webkit-animation: snowfall 12s linear infinite;
    animation: snowfall 12s linear infinite;
    -webkit-animation-delay: -10s;
    animation-delay: -10s
}

.snowflake:nth-child(65) {
    --size: 5vw;
    --left-ini: -1vw;
    --left-end: 2vw;
    left: 99vw;
    -webkit-animation: snowfall 6s linear infinite;
    animation: snowfall 6s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s
}

.snowflake:nth-child(66) {
    --size: 3vw;
    --left-ini: 3vw;
    --left-end: -3vw;
    left: 51vw;
    -webkit-animation: snowfall 13s linear infinite;
    animation: snowfall 13s linear infinite;
    -webkit-animation-delay: -9s;
    animation-delay: -9s
}

.snowflake:nth-child(67) {
    --size: 2vw;
    --left-ini: 1vw;
    --left-end: -6vw;
    left: 47vw;
    -webkit-animation: snowfall 7s linear infinite;
    animation: snowfall 7s linear infinite;
    -webkit-animation-delay: -5s;
    animation-delay: -5s
}

.snowflake:nth-child(68) {
    --size: 3vw;
    --left-ini: -7vw;
    --left-end: 8vw;
    left: 75vw;
    -webkit-animation: snowfall 15s linear infinite;
    animation: snowfall 15s linear infinite;
    -webkit-animation-delay: -10s;
    animation-delay: -10s
}

.snowflake:nth-child(69) {
    --size: 1vw;
    --left-ini: 9vw;
    --left-end: 0vw;
    left: 19vw;
    -webkit-animation: snowfall 15s linear infinite;
    animation: snowfall 15s linear infinite;
    -webkit-animation-delay: -1s;
    animation-delay: -1s
}

.snowflake:nth-child(70) {
    --size: 3vw;
    --left-ini: 6vw;
    --left-end: 2vw;
    left: 78vw;
    -webkit-animation: snowfall 9s linear infinite;
    animation: snowfall 9s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s
}

.snowflake:nth-child(71) {
    --size: 6vw;
    --left-ini: 9vw;
    --left-end: 1vw;
    left: 84vw;
    -webkit-animation: snowfall 10s linear infinite;
    animation: snowfall 10s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s
}

.snowflake:nth-child(72) {
    --size: 2vw;
    --left-ini: 6vw;
    --left-end: 2vw;
    left: 52vw;
    -webkit-animation: snowfall 7s linear infinite;
    animation: snowfall 7s linear infinite;
    -webkit-animation-delay: -5s;
    animation-delay: -5s
}

.snowflake:nth-child(73) {
    --size: 2vw;
    --left-ini: -3vw;
    --left-end: 0vw;
    left: 7vw;
    -webkit-animation: snowfall 13s linear infinite;
    animation: snowfall 13s linear infinite;
    -webkit-animation-delay: -10s;
    animation-delay: -10s
}

.snowflake:nth-child(74) {
    --size: 2vw;
    --left-ini: -4vw;
    --left-end: -2vw;
    left: 53vw;
    -webkit-animation: snowfall 11s linear infinite;
    animation: snowfall 11s linear infinite;
    -webkit-animation-delay: -3s;
    animation-delay: -3s
}

.snowflake:nth-child(75) {
    --size: 3vw;
    --left-ini: 8vw;
    --left-end: 8vw;
    left: 79vw;
    -webkit-animation: snowfall 11s linear infinite;
    animation: snowfall 11s linear infinite;
    -webkit-animation-delay: -7s;
    animation-delay: -7s
}

.snowflake:nth-child(76) {
    --size: 1vw;
    --left-ini: -2vw;
    --left-end: -9vw;
    left: 6vw;
    -webkit-animation: snowfall 13s linear infinite;
    animation: snowfall 13s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s
}

.snowflake:nth-child(77) {
    --size: 3vw;
    --left-ini: 8vw;
    --left-end: 6vw;
    left: 92vw;
    -webkit-animation: snowfall 13s linear infinite;
    animation: snowfall 13s linear infinite;
    -webkit-animation-delay: -7s;
    animation-delay: -7s
}

.snowflake:nth-child(78) {
    --size: 1vw;
    --left-ini: -2vw;
    --left-end: 6vw;
    left: 97vw;
    -webkit-animation: snowfall 12s linear infinite;
    animation: snowfall 12s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s
}

.snowflake:nth-child(79) {
    --size: 3vw;
    --left-ini: 9vw;
    --left-end: 9vw;
    left: 57vw;
    -webkit-animation: snowfall 9s linear infinite;
    animation: snowfall 9s linear infinite;
    -webkit-animation-delay: -10s;
    animation-delay: -10s
}

.snowflake:nth-child(80) {
    --size: 3vw;
    --left-ini: -6vw;
    --left-end: 1vw;
    left: 47vw;
    -webkit-animation: snowfall 12s linear infinite;
    animation: snowfall 12s linear infinite;
    -webkit-animation-delay: -8s;
    animation-delay: -8s
}

.snowflake:nth-child(81) {
    --size: 5vw;
    --left-ini: 0vw;
    --left-end: -8vw;
    left: 64vw;
    -webkit-animation: snowfall 9s linear infinite;
    animation: snowfall 9s linear infinite;
    -webkit-animation-delay: -5s;
    animation-delay: -5s
}

.snowflake:nth-child(82) {
    --size: 2vw;
    --left-ini: -7vw;
    --left-end: 8vw;
    left: 76vw;
    -webkit-animation: snowfall 12s linear infinite;
    animation: snowfall 12s linear infinite;
    -webkit-animation-delay: -5s;
    animation-delay: -5s
}

.snowflake:nth-child(83) {
    --size: 6vw;
    --left-ini: -4vw;
    --left-end: 3vw;
    left: 50vw;
    -webkit-animation: snowfall 10s linear infinite;
    animation: snowfall 10s linear infinite;
    -webkit-animation-delay: -10s;
    animation-delay: -10s
}

.snowflake:nth-child(84) {
    --size: 5vw;
    --left-ini: -6vw;
    --left-end: -5vw;
    left: 86vw;
    -webkit-animation: snowfall 10s linear infinite;
    animation: snowfall 10s linear infinite;
    -webkit-animation-delay: -3s;
    animation-delay: -3s
}

.snowflake:nth-child(85) {
    --size: 2vw;
    --left-ini: -6vw;
    --left-end: 2vw;
    left: 20vw;
    -webkit-animation: snowfall 14s linear infinite;
    animation: snowfall 14s linear infinite;
    -webkit-animation-delay: -4s;
    animation-delay: -4s
}

.snowflake:nth-child(86) {
    --size: 2vw;
    --left-ini: 1vw;
    --left-end: 0vw;
    left: 56vw;
    -webkit-animation: snowfall 14s linear infinite;
    animation: snowfall 14s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s
}

.snowflake:nth-child(87) {
    --size: 3vw;
    --left-ini: -3vw;
    --left-end: 4vw;
    left: 94vw;
    -webkit-animation: snowfall 10s linear infinite;
    animation: snowfall 10s linear infinite;
    -webkit-animation-delay: -9s;
    animation-delay: -9s
}

.snowflake:nth-child(88) {
    --size: 1vw;
    --left-ini: 9vw;
    --left-end: 4vw;
    left: 77vw;
    -webkit-animation: snowfall 9s linear infinite;
    animation: snowfall 9s linear infinite;
    -webkit-animation-delay: -6s;
    animation-delay: -6s
}

.snowflake:nth-child(89) {
    --size: 6vw;
    --left-ini: 5vw;
    --left-end: 0vw;
    left: 23vw;
    -webkit-animation: snowfall 9s linear infinite;
    animation: snowfall 9s linear infinite;
    -webkit-animation-delay: -7s;
    animation-delay: -7s
}

.snowflake:nth-child(90) {
    --size: 2vw;
    --left-ini: -7vw;
    --left-end: -3vw;
    left: 40vw;
    -webkit-animation: snowfall 14s linear infinite;
    animation: snowfall 14s linear infinite;
    -webkit-animation-delay: -4s;
    animation-delay: -4s
}

.snowflake:nth-child(91) {
    --size: 6vw;
    --left-ini: 0vw;
    --left-end: 10vw;
    left: 49vw;
    -webkit-animation: snowfall 15s linear infinite;
    animation: snowfall 15s linear infinite;
    -webkit-animation-delay: -3s;
    animation-delay: -3s
}

.snowflake:nth-child(92) {
    --size: 1vw;
    --left-ini: -7vw;
    --left-end: -2vw;
    left: 41vw;
    -webkit-animation: snowfall 10s linear infinite;
    animation: snowfall 10s linear infinite;
    -webkit-animation-delay: -7s;
    animation-delay: -7s
}

.snowflake:nth-child(93) {
    --size: 1vw;
    --left-ini: 1vw;
    --left-end: 8vw;
    left: 15vw;
    -webkit-animation: snowfall 10s linear infinite;
    animation: snowfall 10s linear infinite;
    -webkit-animation-delay: -3s;
    animation-delay: -3s
}

.snowflake:nth-child(94) {
    --size: 1vw;
    --left-ini: 5vw;
    --left-end: -5vw;
    left: 100vw;
    -webkit-animation: snowfall 6s linear infinite;
    animation: snowfall 6s linear infinite;
    -webkit-animation-delay: -4s;
    animation-delay: -4s
}

.snowflake:nth-child(95) {
    --size: 6vw;
    --left-ini: 4vw;
    --left-end: 7vw;
    left: 38vw;
    -webkit-animation: snowfall 10s linear infinite;
    animation: snowfall 10s linear infinite;
    -webkit-animation-delay: -4s;
    animation-delay: -4s
}

.snowflake:nth-child(96) {
    --size: 2vw;
    --left-ini: -8vw;
    --left-end: -8vw;
    left: 69vw;
    -webkit-animation: snowfall 8s linear infinite;
    animation: snowfall 8s linear infinite;
    -webkit-animation-delay: -8s;
    animation-delay: -8s
}

.snowflake:nth-child(97) {
    --size: 2vw;
    --left-ini: 7vw;
    --left-end: -2vw;
    left: 71vw;
    -webkit-animation: snowfall 15s linear infinite;
    animation: snowfall 15s linear infinite;
    -webkit-animation-delay: -5s;
    animation-delay: -5s
}

.snowflake:nth-child(98) {
    --size: 2vw;
    --left-ini: -6vw;
    --left-end: 4vw;
    left: 94vw;
    -webkit-animation: snowfall 12s linear infinite;
    animation: snowfall 12s linear infinite;
    -webkit-animation-delay: -6s;
    animation-delay: -6s
}

.snowflake:nth-child(99) {
    --size: 2vw;
    --left-ini: 5vw;
    --left-end: 3vw;
    left: 65vw;
    -webkit-animation: snowfall 11s linear infinite;
    animation: snowfall 11s linear infinite;
    -webkit-animation-delay: -6s;
    animation-delay: -6s
}

.snowflake:nth-child(100) {
    --size: 2vw;
    --left-ini: -8vw;
    --left-end: 6vw;
    left: 11vw;
    -webkit-animation: snowfall 10s linear infinite;
    animation: snowfall 10s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s
}

.snowflake:nth-child(6n) {
    -webkit-filter: blur(1px);
    filter: blur(1px)
}

.snowflake:nth-child(11n) {
    -webkit-filter: blur(3px);
    filter: blur(3px)
}
